<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') -%>
<body>
    <%- include("./partials/nav") -%>
    <div class="not-found content">
        <h1>404 Not Found</h1>
        <p>The page you are requesting is not found on the server...</p>
    </div>
    <%-include('./partials/footer')-%>
</body>
</html>