<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') -%>
<body>
    <%- include("./partials/nav") -%>
    <div class="about content">
        <h2>About</h2>
        <p>A platform to post blogs and share your knowledge with others. </p>
    </div>
    <%-include('./partials/footer')-%>
</body>
</html>