<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') -%>
<body>
    <%- include("./partials/nav") -%>
    <div class="about content">
        <h2>About</h2>
        <p>She counted. One. She could hear the steps coming closer. Two. Puffs of breath could be seen coming from his mouth. Three. He stopped beside her. Four. She pulled the trigger of the gun.</p>
        <p>Benny was tired. Not the normal every day tired from a hard day o work. The exhausted type of tired where you're surprised your body can even move. All he wanted to do was sit in front of the TV, put his feet up on the coffee table, and drink a beer. The only issue was that he had forgotten where he lived.</p>
    </div>
    <%-include('./partials/footer')-%>
</body>
</html>